:root {
  /* Colors */
  --background-color: #1D1F28;
  --color: #FDFDFD;
  --color-active: #5ADECD;

  /* Fonts */
  --font-family: Iosevka, monospace;
  --font-size: 24px;
  --line-height: 1.5;

  /* List */
  --list-width: 50vw;
  --list-spacing: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--background-color);
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  font-size: 1rem;
  margin: 0;
}

.list {
  list-style: none;
  margin: auto;
  padding: 0;
  max-width: var(--list-width);
}

  .list-item {
    margin-bottom: 0.5rem;
  }

    .list-item-link {
      box-shadow: inset 0 -2px 0 #FF4971;
      color: var(--color);
      padding: 0.125rem;
      text-decoration: none;
      transition: box-shadow 160ms, color 160ms;
    }

    .list-item-link:hover {
      box-shadow: inset 0 -50px 0 var(--color-active);
      color: var(--background-color);
    }
