/* =============================================================================
   Themes
   ========================================================================== */
   
/* Cyberpunk
   ======================================================================== */
   
.cyberpunk {
  /* HTML */
  --kitsune-html-background-color: #1D1F28;
  --kitsune-html-color: #FDFDFD;
  --kitsune-font-family-html: Iosevka, monospace;

  /* Link */
  --kitsune-link-underline-color: hsla(224, 48%, 100%, 0.2);
  --kitsune-link-underline-color-hover: #FF4971;
}

/* Nero (Fate)
   ======================================================================== */
   
.nero {
  /* HTML */
  --kitsune-html-background-color: hsl(0, 48%, 48%);
  --kitsune-html-color: hsla(0, 48%, 100%, 0.8);

  /* Link */
  --kitsune-link-underline-color: hsla(0, 48%, 100%, 0.2);
  --kitsune-link-underline-color-hover: hsl(48, 80%, 72%);
}

/* Vanilla (Nekopara)
   ======================================================================== */
   
.vanilla {
  /* HTML */
  --kitsune-html-background-color: hsl(232, 16%, 88%);
  --kitsune-html-color: hsl(232, 16%, 48%);

  /* Link */
  --kitsune-link-underline-color: hsla(232, 16%, 48%, 0.2);
  --kitsune-link-underline-color-hover: hsl(208, 80%, 64%);
}

/* =============================================================================
   Overrides
   ========================================================================== */
   
/**
 * Overrides Kitsune styles.
 *
 * 1. We are wrapping links in a heading so font-weight isn't inherited.
 */

a,
.link {
  font-weight: 500; /* 1 */
}